<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="index.html" class="navbar-brand">
            DoctoLib</a></div>

        <ul class="navbar-nav">
            <li><a  routerLink="/clinics" class="nav-link">Clinicas</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
                <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>